%font-light 	{font-weight: 100;}
%font-regular 	{font-weight: 400;}
%font-bold 		{font-weight: 600;}

$font-heading:	"GraublauSans-BoldItalic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-content:	"GraublauSans-Regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-fixed:	"Consolas", monospace;

$breakpoint:	1024px;
$breakpoint-sm:	768px;

@import "../modules/all";