// Section Global

section {
	padding: 10rem 0 12.5rem;

	p.description {
		margin-left: auto;
		margin-right: auto;

		@media (min-width: $breakpoint) {
			max-width: 60%;
		}
	}

	a {
		&:hover,
		&:active {
			p { color: $color-primary; text-decoration: underline;}
		}
	}

	h1 {
		margin-bottom: 0;

		+ p {
			margin: 3rem auto 0;
		}
	}

	img {
		@extend %transition-3;
		margin: 0 auto;

		&[class^="img--"] {
			margin: 7rem auto 0;
		}

		&.img--bag {
			max-height: 35rem;
		}

		&.img--box__short {
			max-height: 27.5rem;
			margin-bottom: 3rem;
		}

		&.img--box__tall {
			max-height: 30rem;
			margin-bottom: 3rem;
		}

		&.img--bar {
			max-height: 15rem;
		}
	}

	.btn {
		margin-top: 7rem;
	}

	@media (max-width: $breakpoint) {
		padding: 10% 0;
	}
}

// Section Variables

.section--colored {
	background: $color-primary;
	color: $color-white;

	a {
		color: $color-white;

		&:hover,
		&:active {
			p {
				color: $color-white;
			}
		}
	}
}

.section--white {
	background: $color-white;

	h1,h2,h3,h4,h5,h6 {
		color: $color-primary;
	}
}

.section--transparent {
	background: transparent;
	color: $color-white;
}

.section--subtle {
	background: $color-blue-light;

	h1 {
		color: $color-primary;
	}
}

.section--photo {
	background-image: url(../img/light-diet.jpg);
	background-size: cover;
	background-attachment: fixed;

	h1 {
		color: $color-primary;
	}
}

.section--angled {
  position: relative;
  z-index: 1;

  @media (min-width: $breakpoint) {
    margin: 15rem auto;
    padding: 0 0;
  }

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }

  &:before {
    top: 0;
    transform: skewY(-7.5deg);
    transform-origin: 0 0;
  }
  &:after {
    bottom: 0;
    transform: skewY(-7.5deg);
    transform-origin: 100%;
  }
}

.section--recipes {
	h1 {
		margin-bottom: 7rem;
	}

	a {
		color: $color-link;
	}
}

.section--products {
	@media (max-width: $breakpoint) {
		img {
			max-height: 25rem !important;
		}
	}
}

.section--products,
.section--recipes {
	text-align: center;
}

.section--products.section--white {
	a:not(.btn) {
		color: inherit;
	}
}