$color-white:			#FFF;
$color-black:			#111;

$color-green:			#007850;
$color-red:				#D9222A;
$color-yellow:			#FEC600;

$color-grey:			#DADADA;
$color-grey-dark:		#4C4C4C;
$color-grey-light:		#F9F9F9;

$color-blue-light:		#EDF1F5;

$color-main-text:		#424242;

$color-primary:			$color-green;

$color-link:			$color-primary;

$color-background:		$color-white;